body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    padding: 8px 15px;
    border: 1px solid #ddd;
}

button {
    margin: 2px;
    cursor: pointer;
}

input[type=text], textarea {
    padding: 5px;
    width: 250px;
}
